{
  "presets": [
    "env",
    "react",
    "stage-1"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "libraryDirectory": "es","style":"css"}],
    "transform-object-rest-spread",
    "transform-runtime",
    ["transform-class-properties", { "spec": true }]

  ]
}
